<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>상담관리</title>
        <link href="/admin/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="/admin/js/calendar.js"></script>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="~{admin/adminmenu.html::topbar}"></th:block>
	<th:block th:insert="~{admin/adminmenu.html::leftmenu}"></th:block>

	
<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h1 th:text="'상담 관리'">상담 관리</h1>
					<div class="divider mx-auto my-4"></div>
				</div>
				<div id="calendarBox">
	     				<div id='calendar'></div>
						<div class="section-title text-center"></div>
				    </div>
				
				<div class="section-title text-center">
					<h1 th:text="'시간 선택'">시간 선택</h1>
					<div class="divider mx-auto my-4"></div>
					
					<form action="/admin/jkselect" method="post">
					<input type="date" onchange="jkselectdt()" name="jkselectdate" id="jkselectdate"/>
					<input type="submit">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
					</form>
					<th:block th:each="list : ${schedule}">
								<input type="radio" class="btn-check" th:value="${list.CD}" name="time" th:id="${list.CD}">
								<label class="btn btn-outline-danger" th:for="${list.CD}" th:text="${list.CD}+'시'"></label>
						</th:block>	
				</div>
			</div>
			
        		<!-- Button trigger modal -->
			<div style="text-align: center;">
				<button type="button" class="btn btn-danger" th:onclick="">신청하기</button>
			</div>
			</div>
		</div>
</section>
    
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="/admin/js/scripts.js"></script>
	<th:block th:insert="~{admin/adminmenu.html::admincalendarImport}"></th:block>
</body>
</html>
   
