@charset "UTF-8";

.process-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-button {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; 
    margin-top: 100px;
}
