@charset "UTF-8";
.center {
        margin: 0 auto; /* 좌우 가운데 정렬 */
        width: 1500px; /* 최대 너비 지정 */
        margin-bottom: 0px;
        margin-left : 100px;
        padding-top: 50px;
    }

    .title-container {
        margin-left : 10px;
    }

    .explain {
   		margin-left:50px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .request {
        margin-top: 40px;
     }


	.text1 {
		margin-top: 10px;
	}
