<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>학과 소개</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="plugins/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body id="top">
<th:block th:insert="~{/menu.html::header}"></th:block>
<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h1 th:text="'학과 소개'">학과소개쪽</h1>
					<div class="divider mx-auto my-4"></div>
					<h5>
						3조대학교의 학과를 소개합니다.
					</h5>
				</div>
				<div class="section-title text-center">
					<h1 th:text="'컴퓨터 공학과'"></h1>
					<div class="divider mx-auto my-4"></div>
						<h5>산업구조가 IT(Information Technology) 산업 위주로<br>
						빠르게 개편됨에 따라 컴퓨터 공학은 IT 산업을 선도하는<br>
						핵심적인 학문 분야로 자리 잡고 있습니다.<br><br>
						따라서 컴퓨터 공학과에서는 컴퓨터 전반에 걸친 종합적인 이론교육과<br>
						실습교육을 통하여 사회의 다양한 분야에서<br>
						컴퓨터 전문가로서 일하면서 정보화 사회를 실현하는데<br>
						기여할 인재를 양성하는 것을 교육목표로 삼고 있습니다.</h5>
				</div>
				<div class="section-title text-center">
					<h1 th:text="'전자 공학과'"></h1>
					<div class="divider mx-auto my-4"></div>
						<h5>전기, 전자, 정보통신 분야의 기초, 핵심, 응용 영역에 대한<br>
						체계적인 이론 및 실무 교육과정을 제공함으로써<br>
						탄탄한 기본 지식을 바탕으로 하여 실용적인 문제를 해결할 수 있는<br>
						능력뿐만 아니라 4차 산업혁명이라는 급변하는 기술과 산업을<br>
						성공적으로 이끌어 갈 수 있는 전문가를 양성합니다.
				</div>
				<div class="section-title text-center">
					<h1 th:text="'경영학과'"></h1>
					<div class="divider mx-auto my-4"></div>
						<h5>4차 산업혁명은 기업 규모에 관계없이<br>
						새로운 차원의 글로벌 경쟁력을 요구합니다.<br><br>
						
						전문적 업무 능력뿐 아니라 글로벌 시야를 지닌 경영자의 의사소통능력,<br>
						다국적 인재와 글로벌 고객 관리 능력, 법적 기술적 변화 대응 능력 등,<br>
						프로그래밍 할 수 없는 soft technology 능력이<br>
						경영자와 조직에게 중요한 우위 요소가 되었습니다.<br><br>
						
						경영학과는 4차 산업혁명 환경에 적합한 글로벌 리더 양성을 위해<br>
						다양하고 전문적인 soft technology 경영관련 분야 들을 제공합니다.<br>
						구체적인 교육과정으로는 HR경영, 전략경영과 국제통상이 있습니다.</h5>
				</div>
				<div class="section-title text-center">
					<h1 th:text="'디자인학과'"></h1>
					<div class="divider mx-auto my-4"></div>
						<h5>디자인학과는 창의성과 혁신을 통해 시각적 커뮤니케이션과<br>
						제품 디자인의 미래를 선도할 전문가를 양성하는 학과입니다.<br>
						<br>
						우리 학과는 학생들이 디자인의 다양한 분야에서 실질적인 기술과<br>
						예술적 감각을 연마할 수 있도록 포괄적인 교육과정을 제공합니다.</h5>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- footer Start -->
<th:block th:insert="~{menu.html::footer}"></th:block>

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    
    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="js/script.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/loginCheck.js"></script>
</body>
</html>
   
