<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- 부트 스트랩 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<title>집단상담</title>
<th:block th:insert="~{index.html::headImport}">CDN CSS 링크</th:block>
<link rel="stylesheet" href="/css/jcCounseling.css">
<link rel="stylesheet" href="/css/jdCounseling.css">
</head>
<style>
	.program-name {
	    font-size: 24px;  /* 글씨 크기를 설정 */
	    font-weight: bold; /* 글씨를 굵게 설정 */
	}
</style>
<body>
	<th:block th:insert="~{menu.html::header}">메뉴 들어가는 곳</th:block>

	<section class="counselindex gray-bg">
		<div class="container" style="min-height: 100vh; padding-bottom: 20px;">
			<div class="title-container" style="padding-top: 40px">
				<h4>집단상담 프로그램 신청</h4>
			</div>
			<hr>
			<div class="row">
				<!-- First card -->
					<div class="col-sm-3 mb-2">
						<div class="card">
							<div class="card-body" style="height: 300px">
								<img alt="/img/program.png" src="/img/program.png" width="215" height="265">
							</div>
						</div>
					</div>

					<!-- Second card -->
					<div class="col-sm-8 mb-2">
						<div class="card">
							<div class="card-body" style="height: 300px">
								<div class="program1" style="margin-left:20px;">
									<div class="program-name" th:text="'프로그램명 : '+ ${detail.PG_NAME}" style="font-size: 22px;"></div><br>
								<div>
									<span th:text="'일정 : ' + ${#dates.format(detail.JMS_CS_DATE, 'yyyy-MM-dd')}"></span>
									<span style="margin-left: 200px;" th:text="'마감일 : ' + ${#dates.format(detail.EN_DATE, 'yyyy-MM-dd')}"></span>
								</div>
									<br>

								<div th:text="'총 인원수 : ' + ${detail.TO_NO} + '명'"></div><br>
									<div th:text="'신청인원수 : ' + ${detail.AP_NO}+ '명'"></div><br>
									<div th:text="'참여인원수 : ' + ${detail.PA_NO}+ '명'"></div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="row">
				<div class="col-sm-11 mb-2">
					<div class="card" style="height:300px">
						<div class="card-body">
							<h4>프로그램에 관한 상세설명</h4>
						<div th:text="${detail.PG_EXPLAIN}"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- Button trigger modal -->
			<div style="text-align: center;">
				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">신청하기</button>
			</div>
		</div>

		
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">상담프로그램을 신청하시겠습니까?</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">확인을 누르면 신청이 완료됩니다.</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
<!-- 						<button type="button" class="btn btn-danger" onclick="window.location.href='groupResult'">확인</button> -->
						<button type="button" class="btn btn-danger" onclick="applyForProgram()">확인</button>
					</div>
				</div>
			</div>
		</div>
	</section>

   <script>
    function getQueryParam(param) {
        let urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }

    function applyForProgram() {
        let no = getQueryParam('no');
        if (no) {
            let url = `groupResult?no=${no}`;
            window.location.href = url;
        } else {
            alert("No parameter is missing in the URL");
        }
    }
    </script>

	<th:block th:insert="~{index.html::jsImport}">CDN JS 링크</th:block>
</body>
</html>
