<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- 부트 스트랩 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<title>집단상담</title>
<th:block th:insert="~{index.html::headImport}">CDN CSS 링크</th:block>
<link rel="stylesheet" href="/css/jcCounseling.css">
<link rel="stylesheet" href="/css/jdCounseling.css">


</head>

<body>
	<th:block th:insert="~{menu.html::header}">메뉴 들어가는 곳</th:block>

	<section class="counselindex gray-bg">
		<div class="container" style="height: 100vh">
			<div class="title-container" style="padding-top: 40px">
				<h4>집단상담 프로그램 신청</h4>
			</div>
			<hr>
			<div class="row">
				<!-- First card -->
				<th:block th:each="row : ${groupDataList}">
					<div class="col-sm-3 mb-2">
						<div class="card">
							<div class="card-body" style="height: 300px">
								<img alt="/img/program.png" src="/img/program.png" width="215"
									height="265">
							</div>
						</div>
					</div>
					<!-- Second card -->
					<div class="col-sm-8 mb-2">
						<div class="card">
							<div class="card-body" style="height: 300px">
								<div class="program1" th:text="'프로그램명 : '+ ${row.PG_NAME}"><br>
									<div class="date1" th:text="'일정 : ' + ${row.JMS_CS_DATE}"><hr>
										<div class="explain" th:text="${row.PG_EXPLAIN}"></div>
									</div>
								</div>
							</div>
							<p>
								프로그램명 : 제목제목 제목을 적읍시다 루룰라라랄 <br>일정 : 2024년 05월 20일 오후 5시
								30분
							</p>
							<hr>
							<p>속잎나고 가지에 싹이 트고 꽃 피고 새 우는 봄날의 천지는 얼마나 기쁘며 얼마나 아름다우냐? 이것을 얼음
								속에서 불러 내는 것이 따뜻한 봄바람이다 인생에 따뜻한 봄바람을 불어 보내는 것은 청춘의 끓는 피다 청춘의 피가
								뜨거운지라 인간의 동산에는 사랑의 풀이 돋고 이상의 꽃이 피고 풀밭에 속잎나고 가지에 싹이 트고 꽃 피고 새 우는
								봄날의 천지는 얼마나 기쁘며 얼마나 아름다우냐? 이것을 얼음 속에서 불러 내는 것이 따뜻한 봄바람이다</p>
						</div>
					</div>
				</th:block>
			</div>

		</div>
		<div class="row">
					<div class="col-sm-11 mb-2">
						<div class="card" style="height: 300px">
							<div class="card-body">
								<h4>프로그램에 관한 상세설명</h4>
								<p>속잎나고 가지에 싹이 트고 꽃 피고 새 우는 봄날의 천지는 얼마나 기쁘며 얼마나 아름다우냐? 이것을
									얼음 속에서 불러 내는 것이 따뜻한 봄바람이다 인생에 따뜻한 봄바람을 불어 보내는 것은 청춘의 끓는 피다 청춘의
									피가 뜨거운지라 인간의 동산에는 사랑의 풀이 돋고 이상의 꽃이 피고 풀밭에 속잎나고 가지에 싹이 트고 꽃 피고 새
									우는 봄날의 천지는 얼마나 기쁘며 얼마나 아름다우냐? 이것을 얼음 속에서 불러 내는 것이 따뜻한 봄바람이다 인생에
									따뜻한 봄바람을 불어 보내는 피가 아니더면 인간이 얼마나 쓸쓸하랴? 얼음에 싸인 만물은 얼음이 있을 뿐이다
									그들에게 생명을 불어 넣는 것은 속잎나고 가지에 싹이 트고 꽃 피고 새 우는 봄날의 천지는 얼마나 기쁘며 얼마나</p>
							</div>
						</div>
					</div>
				</div>


			<!-- Button trigger modal -->
			<div style="text-align: center;">
			<button type="button" class="btn btn-danger" data-bs-toggle="modal"
				data-bs-target="#exampleModal">신청하기</button>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">상담프로그램을 신청하시겠습니까?</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">확인을 누르면 신청이 완료됩니다.</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-danger" onclick="window.location.href='groupResult'">확인</button>
						</div>
					</div>
				</div>
			</div>
	</div>
	</section>


	<th:block th:insert="~{index.html::jsImport}">CDN JS 링크</th:block>
</body>
</html>