<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>상담 신청서 작성</title>
<th:block th:insert="~{index.html::headImport}">CDN CSS 링크</th:block>
<link rel="stylesheet" href="/css/jcCounselingForm.css">
</head>

<body id="top">
	<th:block th:insert="~{/menu.html::header}"></th:block>

	<section class="section testimonial-4 gray-bg">
		<div class="container">

			<h4>상담 신청</h4>

			<div class="section-title text-center">
				<div class="box">
					<div class="container">
						<span class="label">상담 구분:</span> <select class="form-select"
							aria-label="상담 종류 선택">
							<!-- 선택할 항목 -->
							<option value="심리 상담 신청서">심리 상담</option>
							<option value="전문 상담 신청서">전문 상담</option>
							<option value="집단 상담 신청서">집단 상담</option>
							<option value="취업·진로 상담 신청서">취업·진로 상담</option>
							<option value="교수 상담 신청서">교수 상담</option>
						</select>
					</div>
				</div>

				<form action="/saveCounselingForm" method="post">
					<table class="request">
						<tr>
   						<th class="th" scope="row">취업 상담 번호</th>
						<td th:text="${test}"></td>
						</tr>
						
						<tr>
							<th class="th" scope="row">상담 날짜</th>
							<td th:text="${param.date}"></td>
						</tr>
							<tr>
							<th class="th" scope="row">상담 시간</th>
							<td th:text="${param.time} + '시'"></td>
						</tr>
						
						<tr>
							<th class="th" scope="row">이름</th>
							<td><input type="text" class="wid53" name="NAME" placeholder="2024.05.14 한 번에 여러 칼럼 가지고 오기 작업하기">
							</td>
						</tr>
						
						<tr>
							<th class="th" scope="row">학번</th>
							<td th:text="${findBySTUD_NO}"></td>
							</td>
						</tr>
									
						<tr>
							<th class="th" scope="row">이메일</th>
							<td><input type="text" class="wid53" name="email"
								placeholder="이메일을 입력해주세요"></td>
						</tr>
						
						
						<tr>
							<th class="th" scope="row">상담 내용</th>
								<td>
									<textarea name="counselingContent" placeholder="200자 이내(400byte)로 입력해 주세요" style="text-align: left;"></textarea>				
								</td>
						</tr>
					</table>
					<div class="section-title text-center">
						<button class="btn btn-danger">신청하기</button>
					</div>

					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				</form>
				<!-- //Form -->
			</div>
		</div>
	</section>



	<hr class="long-horizontal-line">
	<!-- footer Start -->
	<th:block th:insert="~{menu.html::footer}"></th:block>


	<!-- Main jQuery -->
	<script src="plugins/jquery/jquery.js"></script>
	<!-- Bootstrap 4.3.2 -->
	<script src="plugins/bootstrap/js/popper.js"></script>
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="plugins/counterup/jquery.easing.js"></script>
	<!-- Slick Slider -->
	<script src="plugins/slick-carousel/slick/slick.min.js"></script>
	<!-- Counterup -->
	<script src="plugins/counterup/jquery.waypoints.min.js"></script>

	<script src="plugins/shuffle/shuffle.min.js"></script>
	<script src="plugins/counterup/jquery.counterup.min.js"></script>
	<!-- Google Map -->
	<script src="plugins/google-map/map.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

	<script src="js/script.js"></script>
	<script src="js/contact.js"></script>
	<script src="js/loginCheck.js"></script>
</body>
</html>