<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>회원가입임시</title>
<th:block th:insert="~{menu.html::headImport}">CDN CSS 링크</th:block>
</head>
<body>
	<th:block th:insert="~{menu.html::menu}">메뉴 들어가는 곳</th:block>
	<div class="login">
		<form action="/joinProc" method="post" name="joinForm">
			<input type="text" name="username" placeholder="Username" />
			<input type="password" name="password" placeholder="Password" />
			<button type="submit">가입</button>
		</form>
	</div>

	<th:block th:insert="~{menu.html::scriptImport}">CDN JS 링크</th:block>
</body>
</html>