<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:fragment="scriptImport">
		<!-- 제이쿼리 -->
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<!-- Toast UI Script -->
		<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
		<!-- 부트스트랩 -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"></script>
			<th:block th:insert="~{menu.html::scriptImport}">CDN JS 링크</th:block>
	</th:block>

	<th:block th:fragment="menu">

		<nav class="navbar navbar-expand-lg bg-body-tertiary"
			style="padding-top: 40px; padding-bottom: 40px;">
			<div class="container justify-content-center">
				<a class="navbar-brand justify-content-center" href="#" style="margin: 0 20px; font-size: 30px;"> <img src="/img/logo.png" width="50" height="40" class="d-inline-block align-text-top"> 3조대학교
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>

				<ul class="nav mb-2 mb-lg-0">
					<li class="nav-item" style="margin: 0 20px;"><a class="nav-link active text-dark" aria-current="page" href="#" style="font-weight: bold;">대학안내</a></li>
					<li class="nav-item" style="margin: 0 20px;"><a class="nav-link active text-dark" aria-current="page" href="#" style="font-weight: bold;">입학안내</a></li>
					<li class="nav-item" style="margin: 0 20px;"><a class="nav-link active text-dark" aria-current="page" href="#" style="font-weight: bold;">학과소개</a></li>


					<li class="nav-item dropdown" style="margin: 0 20px;"><a href="#" id="consultingDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: inherit; font-weight: bold; font-size: 16px; line-height: 2.5em; margin: 0 20px;">상담예약</a>
						<ul class="dropdown-menu" aria-labelledby="consultingDropdown" style="position: absolute; left: 58%; top: 60px; transform: translateX(-57%); border: none; width: 1920px; background-color: skyblue;">
							<li class="row" style="margin: 0; padding: 0;">
								<ul class="col-sm-12"
									style="list-style-type: none; padding: 0; display: flex; justify-content: center;">
									<li style="margin: 0; padding: 0 40px;"><a
										class="dropdown-item" href="/srCounseling" style="font-weight: bold;">심리상담</a></li>
									<li style="margin: 0; padding: 0 40px;"><a
										class="dropdown-item" href="/jmCounseling" style="font-weight: bold;">전문상담</a></li>
									<li style="margin: 0; padding: 0 40px;"><a
										class="dropdown-item" href="/jdCounseling" style="font-weight: bold;">집단상담</a></li>
									<li style="margin: 0; padding: 0 40px;"><a
										class="dropdown-item" href="/jcCounseling" style="font-weight: bold;">취업상담</a></li>
										<li style="margin: 0; padding: 0 40px;"><a
										class="dropdown-item" href="/jkCounseling" style="font-weight: bold;">교수상담</a></li>
								</ul>
							</li>
						</ul></li>
					<li class="nav-item" style="margin: 0 20px;"><a
						class="nav-link active text-dark" aria-current="page" href="#"
						style="font-weight: bold;">커뮤니티</a></li>
					<li class="nav-item" style="margin: 0 20px;"><a
						class="nav-link active text-dark" aria-current="page" href="#"
						style="font-weight: bold;">공지사항</a></li>
					<li class="nav-item" style="margin: 0 20px;"><a
						class="nav-link active text-dark" aria-current="page" href="#"
						style="font-weight: bold;">로그인</a></li>
				</ul>
			</div>
		</nav>
	</th:block>

</body>
</html>