<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
    let calendarEl = document.getElementById('calendar')
    let calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth', // 초기화면에 보이는 캘린더 화면
      contentHeight: 600, //캘린더 크기 설정
      locale: 'ko', // 한국어로 변경
      //selectable : true, // 달력 드래그 설정
      navLinks: false, // 날짜를 선택하면 Day 캘린더나 Week 캘린더로 링크
      nowIndicator: true, // 현재 시간 마크
      events:[
    	  {
    		  title : 'event1',
    		  start : '2024-05-01 00:00:00',
    		  url : 'http://www.naver.com'
    	  },
    	  {
    		  title : 'event2',
    		  start : '2024-05-03',
    		  end : '2024-05-3'
    	  },
      ],
      editable: true // 수정 여부 
      
    ,eventClinck:function(info){
    	window.location.href(info.event.url);
    }
    });
    calendar.render();
    
    
  })
  
</script>
<style>
#calendarBox{
	width: 70%;
	padding-left: 15%;
}
</style>
<title>로그인</title>
</head>
<body>
	<th:block th:insert="~{menu.html::menu}">메뉴 들어가는 곳</th:block>
	<th:block th:insert="~{menu.html::consulting}">상담 목록</th:block>
	
	심리상담 프로그램 신청<br>
	
	<div id="calendarBox">
		<div id='calendar'></div>
	</div>
	
	
	
	<script src="../js/login.js"></script>
	
	
</body>
</html>