<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<th:block th:insert="~{menu.html::metaImport}">
<style>
#calendarBox {
	width: 70%;
	padding-left: 15%;
}
</style>
<title>로그인</title>
<th:block th:insert="~{menu.html::headImport}">CDN CSS 링크</th:block>
</head>
<body>
	<th:block th:insert="~{menu.html::menu}">메뉴 들어가는 곳</th:block>

	<h2>심리상담 프로그램 신청</h2>
	<br>

	<div id="calendarBox">
		<div id='calendar'></div>
	</div>



	<script src="../js/login.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script src="https://unpkg.com/tippy.js@6"></script>
	<th:block th:insert="~{menu.html::scriptImport}">CDN JS 링크</th:block>
</body>
</html>