<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<select id="AdminBoard" resultType="BoardDTO">
		select ib.BOARD_NO, ib.BOARD_TITLE, ib.BOARD_CONTENT, ib.BOARD_DATE, u.NAME,
			ib.ANS_YN, ib.DEL_YN 
		from Inq_Board ib
		join `USER` u
		where ib.BOARD_USER = u.USER_NO
		and ib.DEL_YN = '1'
		order by ib.BOARD_DATE DESC, ib.ANS_YN
	</select>
	
	<select id="AdminUser" resultType="userDTO">
		SELECT *
		FROM USER
	</select>

</mapper>