<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="boardList" resultType="BoardDTO">
		select ib.BOARD_NO, ib.BOARD_TITLE, ib.BOARD_DATE, u.NAME  as 'username',
			(CASE WHEN ib.ANS_YN = '1' THEN '미답변'
				WHEN ib.ANS_YN = '2' THEN '답변 완료'
				WHEN ib.ANS_YN = '3' THEN '답변 불필요'
			END) AS ANS_YN
		from Inq_Board ib
		join `USER` u
		where ib.BOARD_USER = u.USER_NO
		and ib.DEL_YN = '1'
		order by ib.BOARD_DATE DESC, ib.ANS_YN
	</select>

	<insert id="boardInsert" parameterType="BoardDTO">
		insert into
		Inq_Board(BOARD_USER, BOARD_TITLE, BOARD_CONTENT)
		values ((select
			USER_NO from USER where USERNAME = #{username}),
			#{board_title}, #{board_content})
	</insert>
	
	<select id="detail" parameterType="Integer" resultType="BoardDTO">
		select ib.BOARD_NO, ib.BOARD_USER, ib.BOARD_TITLE, ib.BOARD_CONTENT, ib.BOARD_DATE,
				ib.ANS_YN, ib.FILE_NO, u.NAME
		from Inq_Board ib join USER u on ib.BOARD_USER = u.USER_NO
		where BOARD_NO = #{no}
			and DEL_YN = '1'
	</select>
</mapper>