<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jcCounselingForm">

	<insert id="insertCounselingForm"
		parameterType="com.team_3.dto.CounselingFormDTO">
		INSERT INTO CounselingForm (email, counselingContent)
		VALUES ( #{email}, #{counselingContent})
	</insert>

	<select id="findByJcNo"
		resultType="String">
		SELECT JC_NO FROM CounselingForm WHERE STUD_NO = #{STUD_NO}
	</select>

	<select id="findBySTUD_NO"
		resultType="String">
		SELECT STUD_NO FROM STUD_INFO WHERE STUD_PHONE = #{STUD_PHONE}
	</select>
	
	<select id="selectGroupData" resultType="BoardDTO">
		SELECT PG_NAME, JMS_CS_DATE
	FROM JDSD_Info
	</select>
</mapper>