<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jcCounselingForm">

<insert id="insertCounselingForm" parameterType="BoardDTO">
    INSERT INTO CounselingForm (name, student_id, email, phone_number, counseling_content) 
    VALUES (#{name}, #{studentId}, #{email}, #{phoneNumber}, #{counselingContent})
</insert>

</mapper>