<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jcCounselingForm">

   <insert id="insertCounselingForm"  parameterType="com.team_3.dto.CounselingFormDTO">
      INSERT INTO CounselingForm (selectedType, email, counselingContent)
      VALUES (#{selectedType}, #{email}, #{counselingContent})
   </insert>

	<select id="findByStud_no" resultType="String">
		SELECT STUD_NO FROM student_user_view WHERE USERNAME = #{USERNAME}
	</select>
	
	<select id="selectGroupData" resultType="BoardDTO">
		SELECT * FROM JDSD_Info
	</select>
	
	<select id="getDetail" resultType="BoardDTO">
		SELECT JD_NO, PG_NAME, PG_EXPLAIN, EN_DATE, JMS_CS_DATE, TO_NO, AP_NO, PA_NO 
		FROM JDSD_Info
		WHERE JD_NO = #{no}
			and EN_NO = "2"
	</select>

	<select id="getSchedule" resultType="HashMap">
		select * from CODE
		where `DIV` = 'SC01'
	</select>
	
</mapper>