<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
	<select id="test" resultType="userDTO">
		select * from USER
	</select>
	
	<select id="findByUsername" resultType="UserDTO">
		select * from USER
		where username = #{username}
	</select>
	
	<insert id="join" parameterType="userDTO">
		insert into USER(NAME, PASSWORD, USERNAME)
		values (#{name}, #{password}, #{username})
	</insert>
	
</mapper>