@charset "UTF-8";

.answerpart {
	width: 100%;
	display: inline-flex;
}

label {
	font: bold;
}

.w40 {
	display: inline-block;
	/* justify-content: space-between; */
	width: 45%;
	margin: 0 0 1rem 0;
}

.responseTextarea {
	height: 250px;
	resize: none;
}

.adminAnswer {
	height: 300px;
	resize: none;
}

#content {
	height: 200px;
	resize: none;
}